html {
    font-family: 'Raleway', sans-serif;
    width:100%;
    color:black;
}
body{
    margin:0px;
        margin-top: 0px;
     margin-bottom: 0px;
     margin-left: 0px;
        margin-right: 0px;
    padding:0px;
        padding-left: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0;
    background-color: white;
    color:black;
    margin-left: 3%;
    margin-right: 3%;
}
@media screen and (max-width: 991px){
    main{
        margin-right: 3%;
    }
}
a{
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
    height: 100%;
}
#lien-logo{
    text-decoration: none;
    color:black;
    display: block;
}
@media screen and (max-width: 991px){
    #lien-logo{
        display: flex;
        justify-content: center;}
}
@media screen and (max-width: 991px){
    #logo{
    display: flex;
    justify-content: center;
    align-items: center;}
    }
header{
    display: flex;
    justify-content: space-between;
    position: relative;
}
@media screen and (max-width: 991px){
    header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
}
#navigateur{
    display: flex;
    justify-content: space-between;
    bottom: 100px;
    width: 250px;}
@media screen and (max-width: 991px){
    #navigateur{
        width: 100%;
        display: flex;
    }
}
.lien-nav{
    display: flex;
    align-items: center;
    padding:0 20px;
    border-top: 2px white solid;
    text-decoration: none;
    color: black;}
@media screen and (max-width: 991px){
   .lien-nav{
        margin-top: 20px;
        padding-bottom: 5px;
        border-bottom: #f2f2f2 2px solid;
        display: flex;
        justify-content: center;
        width: 50%;}
    }
 .lien-nav:hover{
    border-top: 2px #0065FC solid;
    color: #0065FC;
}
@media screen and (max-width: 991px){
    .lien-nav:hover{
        border-bottom: 2px #0065FC solid;
        border-top: 0px white solid;
    }
}
#haut{
    margin-top: 0;
}

@media screen and (max-width: 991px) {
    #titrepage{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}
h1{margin-bottom: 0;}
.soustitre{margin-top: 0;}
#zone-recherche{
    display: flex;
    height: 50px;
    margin-bottom: 25px;}
    @media screen and (max-width: 991px){
        #chercher{
            display: flex;
            justify-content: center;}
    }
.icone1{
    display: flex;
    background-color: #f2f2f2;
    align-items: center;
    justify-content: center;
    width: 50px;
    border-radius: 10px 0 0 10px;
    overflow: auto;
    border: white;
    cursor: pointer;
}
.barre-recherche{
    width: 250px;
    font-weight: bold;
    border:0px;
    border: 1px solid #f2f2f2;
    background-color: white;
}
input::placeholder{
    font-size: 18px;
    color: black;
    position: relative;
    left:15px;
}
.fond-recherche{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    background-color: #0065FC;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 0 10px 10px 0;
    font-size: 16px;
    overflow: hidden;
    padding-left: 30px;
}
@media screen and (max-width: 991px){
    .fond-recherche{
        width: 50px;
    }
}
@media screen and (max-width: 991px){
    .texte-recherche{
        visibility: hidden;
    }
}
.icone-loupe{
    visibility: hidden;
}
@media screen and (max-width: 991px){
    .icone-loupe{
        visibility: visible;
        position: relative;
        right: 55px;
    }
}
#tous-les-filtres{
    display: flex;
    width: 85%;
    height: 100%;
    align-items: center;
}
@media screen and (max-width: 991px){
    #tous-les-filtres{
        display: flex;
        flex-direction: column;
    }
}
.titre-filtre{
    display: flex;
    width: 8%;
}
@media screen and (max-width: 991px){
    .titre-filtre{
        display: flex;
        width: 100%;}
}
#zone-filtres{
    display: flex;
    justify-content: space-between;
    width: 70%;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}
@media screen and (max-width: 991px){
    #zone-filtres{
     width: 100%;
   }
   }
.filtres{
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    display: flex;
    align-items: center;
    overflow: visible;
    font-weight: bold;
    height: 45px;
    background-color: white;
    margin-right: 10px;
    margin-top: 20px;
}

.filtres:hover{
    background-color: #deebff;
    border: #deebff solid 1px;
}
.filtre{
    display: flex;
    justify-content: space-between; 
}
.logo-filtre{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    width: 45px;
    height: 45px;
    color: #0065FC;
    background-color: #deebff;
    margin-left: -6%;
}
.texte-filtre{
    font-weight: bold;
    display: flex;
    align-items: center;
    
    font-size: 18px;
}
#resultat{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
#logo-i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: solid 1px #f2f2f2;
    border-radius: 25px;
    font-size: 15px;
    color: #0065FC;
    margin-right: 15px;
}

#centre{
    display:flex;
    justify-content: space-between;
    margin-top: 25px;
}
@media screen and (max-width: 991px){
    #centre{
        display: flex;
        flex-direction: column-reverse;
    }
}
.header-heb{
    display: block;
    width: 100%;
    margin-top: 2.5%;
    margin-left: 3%;
}
@media screen and (max-width: 767px){
    .header-heb{
    margin-left: 5%;
    }
}
#zone-hebergemnt{
    display: flex;
    flex-direction: column;
    width: 66%;
    height: 700px;
    background-color: #f2f2f2;
    border-radius: 25px;
    flex-wrap: wrap;
    }
@media screen and (max-width: 991px){
    #zone-hebergemnt{
        background-color: white;
        width: 100%;
        height: 1200px;
    }
}
#zone-populaire{
    display: flex;
    flex-direction: column;
    width:33%;
    height: 700px;
    background-color: #f2f2f2;
    border-radius: 25px;
}
@media screen and (max-width: 991px){
    #zone-populaire{
        width: 100%;
        border-radius: 0 0 0 0 ;
        margin-bottom: 15px;
    }
}
#header-pop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 10px;
}
@media screen and (max-width: 991px){
    #header-pop{
        display:flex;
        justify-content: space-between;
        flex-direction: row;}
    }
.populaire{
    margin-top: 3%;
    margin-left: 4%;
}

#etoilenoir{
   position: relative;
   right:9%;
}
#zone-carte{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    position: relative;
    top:25px;

}
alt{visibility: hidden;}
.carte-pop{
    display: flex;
    width:90%;
    background-color: white;
    border-radius: 25px; 
    align-items: center;
    height: 25%;
    margin-bottom: 30px;
}
.carte-pop:hover{
    box-shadow: 5px 5px 5px 5px #deebff;
}
.img-boite{
    display: flex;
    width: 40%;
    height: 100%;
    border-radius: 25px 0 0 25px;
    overflow: hidden;
}
.img-taille{
    display:flex;
    border-radius: 25px 0 0 25px;
    margin:5px;
    width: 90%;
    overflow: hidden;
    object-fit: cover;
    }
.texte-pop{
    display:flex;
    flex-direction: column; 
    height: 70%;
    justify-content: space-around;
}
.texte-prix1{
    position: relative;
    top: -45px;
    left: 5px;
}
strong{
    margin-left: 5px;
}
h4{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    position: relative;
    top: -20px;
    
}

.etoile{
    margin-left: 5px;
    margin-bottom:-10%;
}
.fa-solid{
    margin: 5px;
    width: auto;
}   
.fa-star{
    color:#0065FC;
    width:2px;
    height:2px
}
.lien-pop{
    display: flex;
    align-items: center;
}
#zone-heb{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width: 100%;}
@media screen and (max-width: 767px){
        #zone-heb{
         display: flex;
         align-items: center;
        }
    }
.carte-heb{
    display: flex;
    width:28%;
    flex-direction: column;
    background-color: white;
    border-radius: 25px; 
    align-items: center;
    height: 40%;
    }
@media screen and (max-width: 991px){
    .carte-heb{
        width: 45%;
        display: flex;
        justify-content: center;
        box-shadow: 0 0 10px grey;
        margin-bottom: 15px;
        height: 35%;
    }
}
@media screen and (max-width: 767px){
    .carte-heb{
    width:90%;
    height: 25%;
    }
}
.carte-heb:hover{
    box-shadow: 5px 5px 5px 5px #deebff;
}
.img-boite2{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50%;
        border-radius: 25px 25px 0 0;
        overflow: hidden;
        margin-top: 2.5%;
        object-fit: cover;
    
        
}
@media screen and (max-width: 991px){
    .img-boite2{
        height: 60%;
    }
}
.img-taille2{
    border-radius: 25px 25px 0 0 ;
    width: 95%;
    overflow-y: hidden;
    object-fit: cover;
    }
.texte-heb{
    display:flex;
    flex-direction: column;
    width: 100%;
    margin-left: 2px;
    position: relative;
    top: 10px;
    justify-content:space-between;
}
@media screen and (max-width: 991px){
    .texte-heb{
    margin-left: 5px;
    }
}
@media screen and (max-width: 767px){
    .texte-heb{
        margin-top: 10px;
        margin-left: 10px;
    }
}
.texte-prix{
    margin: 0px;
    position: relative;
    top: -5px;
}
@media screen and (max-width: 767px){
    .texte-prix{
    position: relative;
    top:-25px;
    left: 5px;
    }
}
.texte-prix1{
    margin: 0px;
    position:relative;
    top: -5px;
}
@media screen and (max-width:1056px) {
    .texte-prix1{
        position: relative;
        top: -25px;
    }
}
.etoile1{
    position: relative;
    top: 10px;
}  
@media screen and (max-width:1056px) {
    .etoile1{
        position: relative;
        top: -10px;
    }
}
.etoile2{
    position: relative;
    top: 10px;
}
@media screen and (max-width: 767px){
    .etoile2{
    position: relative;
    top: -20px;
    }
}
#footer-heb{
    margin-top: -20px;
    margin-left: 2.5%;
}
@media screen and (max-width: 991px){
    #footerheb{
        position: relative;
        top: 100px;
    }
}
@media screen and (max-width: 767px){
    #footer-heb{
        position: relative;
        top: 570px;
        margin-left: 5%;
    }
}
#activités{
    display:flex;
    flex-direction: column;
    width:100%;
    height: 500px;
    margin-bottom: 20px;
}
@media screen and (max-width: 767px){
    #activités{
        display: flex;
        flex-direction: column;
        position: relative;
        top:450px;
    }
}
.header-act{
    display: block;
    width: 100%;
    margin-top: 2.5%;
    margin-bottom: 1%;
}
#zone-act{
    display: flex;
    height: 90%;
    justify-content: space-between;
}

@media screen and (max-width: 991px){
    #zone-act{
        display: flex;
        flex-direction: column;
    }
}
.carte-act{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
    box-shadow: 0 0 10px grey;
    border-radius: 25px;
}
@media screen and (max-width: 991px){
    .carte-act{
    width: 100%;
    height: 45%;
    margin-bottom: 30px;
    }
}
@media screen and (max-width: 991px){
    .lien-act{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    }
}
.carte-act:hover{
    transform: scale(1.1);
}
@media screen and (max-width: 991px){
    .carte-act:hover{
        transform: scale(1);
        box-shadow: 10px 10px 10px 10px #deebff;
    }
}
.img-boite3{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 90%;
        border-radius: 25px 25px 0 0;
        overflow: hidden;
}
@media screen and (max-width: 991px){
    .img-boite3{
    height: 80%;
    }
}
.image-taille3{
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    overflow: hidden;
}
.texte-act{
    margin-top: 32px;
    margin-left: 2.5%;
}

.carte-act2{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;  
}
@media screen and (max-width: 991px){
    .carte-act2{
        height:100%;
        width: 100%;
        justify-content: space-around; 
    }
}
.activite2{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 0 0;
}
.activite3{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 0 0;
}
.lien-act1{
    height: 50%;
    box-shadow: 0 0 10px grey;
    border-radius: 20px;
    overflow: hidden;
    object-fit: cover;
}
@media screen and (max-width: 991px){
    .lien-act1{
    height: 50%;
    margin-bottom: 30px;
    }
}
.lien-act1:hover{
    transform: scale(1.1);
}
@media screen and (max-width: 991px){
    .lien-act1:hover{
        transform: scale(1);
        box-shadow: 10px 10px 10px 10px #deebff;
    }
}
.lien-act2{
    height: 35%;
    box-shadow: 0 0 10px grey;
    border-radius: 20px;
    overflow: hidden;
    object-fit: cover;
}
@media screen and (max-width: 991px){
    .lien-act2{
    height: 50%;
    margin-bottom: 30px;
    }
}
.lien-act2:hover{
    transform: scale(1.1);
}
@media screen and (max-width: 991px){
    .lien-act2:hover{
        transform: scale(1);
        box-shadow: 10px 10px 10px 10px #deebff;
    }
}
.image-taille4{
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    overflow: hidden;
}

#footer{
    display: flex;
    width: 103%;
    height: 200px;
    align-items: flex-start;
    background-color: #f2f2f2;
    position: relative;
    left:-2.5%;
    top:90px;
}
@media screen and (max-width: 991px){
    #footer{
     display: flex;
     height: 600px;
     position:relative ;
     top: 950px;
    }
}
@media screen and (max-width: 767px){
    #footer{
     display: flex;
     flex-direction: column;
     height: 600px;
     position:relative ;
     top: 1400px;
    }
}
.apropos{
    display: flex;
    width: 35%;
    position:relative;
    left:2.5%;
    flex-direction: column;
    }
    @media screen and (max-width: 767px){
        .apropos{
         width: 100%;
         margin-left: 1.5%;
        }
    }        
.titre{
    display: flex;
    width:100%;
    height: 3%;
    margin-left: -2.5%;
    margin-top: 10%;
}
ul{
    list-style: none;
    margin-left: -10%;
    margin-top: -10px;
    line-height: 2;
    width: 100%;
}
@media screen and (max-width: 767px){
    ul{
        margin-top: 20px;

    }
}